# Environments
.env
*.env
.venv/
.prefect/
__pycache__/
.tmp/

# Runtime folders
data/
logs/
plugins/

# Data files (if you save local copies)
*.json
*.parquet
*.csv
*.jpg

# Python build/cache files
*.pyc
*.pyo
*.pyd

# OS/editor noise
.DS_Store
Thumbs.db
